<div class="inner-container inner-container__title-wo-border">
    <div class="left-block">
        <h1>Unsaved Changes</h1>
    </div>
    <div class="right-block">
        <button (click)="closePopup()"><img [src]="assetUrl + 'close-icon.svg'" alt=""></button>
    </div>
</div>

<div class="popup-content popup-content__small row gy-4">

    <div class="col-12">
        <h4>You have unsaved changes. Please save your work before navigating to another page. 
            If you proceed without saving, your changes will be lost.</h4>
        <div class="spacer-12"></div>
        <p>Do you want to continue?</p>
    </div>
    
    <div class="col-12 d-flex justify-content-end">
        <div class="btn-grp">
            <button mat-button mat-dialog-close="cancel">Cancel</button>
            <button mat-button mat-dialog-close="confirm" color="primary">Continue</button>
        </div>
    </div>

</div>