mat-card {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  .heading-1{
    font-size: 3rem;
  }
  .heading-3{
    font-size: 2rem;
  }
  .heading-4{
    margin-top: 10px;
  }