<!-- DELETE ITEM CONFIRMATION POPUP (pops up when the user tries to remove an item inside of a rebate)-->

<div class="inner-container inner-container__title-wo-border">
    <div class="left-block">
        <h1>{{headerMessage}}</h1>
    </div>
    <div class="right-block">
        <img [src]="assetUrl + 'close-icon.svg'" alt="" style="cursor: pointer;" (click)="closeDialogPopUp()">
    </div>
</div>

<div class="popup-content popup-content__small row gy-4">

    <div class="col-12">
        <h4>{{this.message}}</h4>
        <div class="spacer-12"></div>
       
    </div>
    
    <div class="col-12 d-flex justify-content-end">
        <div class="btn-grp">
            <button type="button" class="btn btn__secondary" (click)="closeDialogPopUp()">Close</button>
        </div>
    </div>

</div>